$def with (page)

<html>
<head>
    <title>My Blog</title>
    <style>
        #menu {
            width: 200px;
            float: right;
        }
    </style>
</head>
<body>

<ul id="menu">
    <li><a href="/">Home</a></li>
    $if user_name():
	    <li><a href="/create">New Post</a></li>
    	<li>User: $user_name() - <a href="/logout">Log out</a></li>
    $else:
    	<li><a href="/login">Log in</a> | <a href="/register">Register</a></li>
    <li>Built with web.py <img src="/static/webpy.gif"></li>
</ul>

$:page

</body>
</html>
