$def with (form, msg=None)
$var title: Forgot your Password?

<h1>Forgot your password?</h1>

<p>Enter the email address you registered with, and I'll send you an email with a link to follow to let you reset your password.</p>

<div class="alert alert-error">
$if msg == 'fail':
  User doesn't exist
</div>

<form class="form-horizontal" method="POST">
	<input type="hidden" name="csrf_token" value="$csrf_token()"/>
	$:form.render()
</form>

<div class="alert alert-info"><p class="reset"><a href="/register">Not a member yet? Register!</a></p></div>
