$def with (form, user_email, hash_temp, msg=None)
$var title: Reset your Password

$if msg == 'fail':
	<div class="alert alert-error">
		Sorry, that reset-request has expired. <a href="/password_reset">Re-send</a> a reset-email.
	</div>
	
$else:
	<h1>Reset your password!</h1>
	
	<p>Enter your new password (twice) and I'll reset it.</p>
	
	<form class="form-horizontal" method="POST">
		<input type="hidden" name="csrf_token" value="$csrf_token()"/>
		<input type="hidden" name="hash_temp" value="$hash_temp"/>
		<input type="hidden" name="user_email" value="$user_email"/>
		$:form.render()
	</form>

<div class="alert alert-info"><p class="reset"><a href="/register">Not a member yet? Register!</a></p></div>
